<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8b71410c-fbf7-49b4-bc93-7fd76f96a92a/resourceGroups/EmploymentTest_group/providers/Microsoft.Web/sites/EmploymentTest</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://employmenttest-gzf4b7bgcjafcsgw.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>4a41461a-bd0f-44d3-9a95-e356311dda92</ProjectGuid>
    <PublishUrl>https://employmenttest-gzf4b7bgcjafcsgw.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$EmploymentTest</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>